<h2 mat-dialog-title>Alterar Senha</h2>

<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="space-y-1">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Senha atual</mat-label>
      <input 
        matInput 
        [type]="hideCurrentPassword() ? 'password' : 'text'"
        formControlName="currentPassword" 
        placeholder="Sua senha" 
        required
      >
      <button mat-icon-button type="button" matSuffix (click)="toggleCurrentPasswordVisibility()" aria-label="Mostrar/ocultar senha">
        <mat-icon>{{ hideCurrentPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="currentPasswordControl?.invalid && currentPasswordControl?.touched">
        @if (currentPasswordControl?.hasError('required')) {
          Senha é obrigatória.
        } @else if (currentPasswordControl?.hasError('minlength')) {
          A senha deve ter no mínimo 6 caracteres.
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nova senha</mat-label>
      <input 
        matInput 
        [type]="hideNewPassword() ? 'password' : 'text'"
        formControlName="newPassword" 
        placeholder="Sua senha" 
        required
      >
      <button mat-icon-button type="button" matSuffix (click)="toggleNewPasswordVisibility()" aria-label="Mostrar/ocultar senha">
        <mat-icon>{{ hideNewPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="newPasswordControl?.invalid && newPasswordControl?.touched">
        @if (newPasswordControl?.hasError('required')) {
          Nova senha é obrigatória.
        } @else if (newPasswordControl?.hasError('minlength')) {
          A nova senha deve ter no mínimo 6 caracteres.
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Confirme a nova senha</mat-label>
      <input 
        matInput 
        [type]="hideConfirmNewPassword() ? 'password' : 'text'"
        formControlName="confirmNewPassword" 
        placeholder="Sua senha" 
        required
      >
      <button mat-icon-button type="button" matSuffix (click)="toggleConfirmNewPasswordVisibility()" aria-label="Mostrar/ocultar senha">
        <mat-icon>{{ hideConfirmNewPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="confirmNewPasswordControl?.invalid && confirmNewPasswordControl?.touched">
        @if (confirmNewPasswordControl?.hasError('required')) {
          Confirmação da nova senha é obrigatória.
        } @else if (confirmNewPasswordControl?.hasError('minlength')) {
          A confirmação deve ter no mínimo 6 caracteres.
        }
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="isSubmitButtonDisabled()">
      @if (isLoading()) {
        <mat-spinner diameter="24"></mat-spinner>
      }@else {
        Salvar
      }
    </button>
  </mat-dialog-actions>
</form>