@use "@angular/material" as mat;

.toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--mat-sys-on-primary),
  ));
}

mat-icon {
  @include mat.icon-overrides((
    color: var(--mat-sys-on-primary),
  ));
}