@if (isLoading) {
  <div class="flex justify-center items-center p-16">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
} @else {
  @for (image of images; track image.id) {
    <mat-card
      class="mb-3 cursor-pointer"
      [ngClass]="{
        'active': isActive(image.id),
        'border-l-4 border-l-gray-300': !isActive(image.id),
        'foul': image.presenca === 0 && !isActive(image.id),
        'transition-colors duration-200': true
      }"
      (click)="imageSelected.emit(image.id)"
    >
      <div class="h-full"> 
        <mat-card-header>
          <mat-card-title>{{ image.matricula }}</mat-card-title>
          <mat-card-subtitle>{{ image.nomeAluno }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="text-1xl mb-3">Imagem disponível até: {{ image.expirationImageDate| date: 'dd/MM/yyyy' }}</p>
          @if(image.haveModification && this.isActive(image.id)) {
            <div class="flex justify-center items-center">
              <button matButton="filled" (click)="viewAudit.emit(image.id); $event.stopPropagation();">
                Visualizar alterações das respostas
              </button>
            </div>
          }
        </mat-card-content>
      </div>
    </mat-card>
  } @if (images.length === 0) {
    <app-ui-not-found
      title="Nenhuma imagem encontrada"
      subtitle="Verifique os filtros e tente novamente"
    ></app-ui-not-found>
  }
}