<mat-card
  *ngFor="let image of images"
  class="mb-3 cursor-pointer"
  [ngClass]="{
    'active': isActive(image.id),
    'border-l-4 border-l-gray-300': !isActive(image.id),
    'transition-colors duration-200': true
  }"
  (click)="onImageClick(image.id)"
>
  <div class="h-full"> 
    <mat-card-header class="text-truncate">
      <div class="flex items-center justify-center" mat-card-avatar>
        <mat-icon>image</mat-icon>
      </div>
      <div class="flex flex-col w-full">
        <div class="flex items-center gap-3">
          <mat-card-title class="overflow-hidden whitespace-nowrap text-ellipsis">{{ image.matricula }}</mat-card-title>
          @if (image.presenca === 0) {
            <span class="bg-red-700 rounded-xl text-white text-sm px-2 py-1">FALTOU</span>
          }
        </div>
        <mat-card-subtitle class="overflow-hidden whitespace-nowrap text-ellipsis">{{ image.nomeAluno }}</mat-card-subtitle>
      </div>
    </mat-card-header>
  </div>
</mat-card>

@if (images.length === 0) {
  <div class="text-center text-gray-500 py-4">
    Nenhuma imagem encontrada para os critérios de busca.
  </div>
}