<!-- <h2 mat-dialog-title>
  <span>{{ title() }}</span>
</h2>
<mat-dialog-content>
  <p class="mb-4">{{ statusMessage() }}</p>
  @if(!hasError()) {
    <mat-progress-bar mode="determinate" [value]="progressPercentage()"></mat-progress-bar>
  } @else {
    <div class="p-4 bg-red-100 text-red-800 rounded-md">
      <p>Ocorreu um erro e nem todas as imagens puderam ser enviadas</p>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  @if(isDone() || hasError()) {
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Fechar</button>
  }
</mat-dialog-actions> -->

<h2 mat-dialog-title>
  <span>{{ title() }}</span>
</h2>

<mat-dialog-content>
  @if(!isDone()){
    <p class="mb-4">{{ statusMessage() }}</p>
  }
  <mat-progress-bar class="mb-4" mode="determinate" [value]="progressPercentage()"></mat-progress-bar>

  @if(isDone() && hasError()) {
    <div class="p-4 mt-4 rounded-md errorContainer">
      <p class="text-md">Os seguintes arquivos não puderam ser enviados:</p>
      <mat-list role="list">
        @for(fileName of failedUploads(); track fileName) {
          <mat-list-item role="listitem">
            <mat-icon matListItemIcon>warning</mat-icon>
            {{ fileName }}
          </mat-list-item>
        }
      </mat-list>
      <p class="text-md">Certifique-se de cada imagem possuir todas as bordas com a cor preta visíveis e nítidas</p>
    </div>
  }

  @if(isDone() && !hasError()){
    <p class="mt-4 text-green-700">Todas as imagens foram enviadas com sucesso!</p>
  }

</mat-dialog-content>

<mat-dialog-actions align="end">
  @if(isDone()) {
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Fechar</button>
  }
</mat-dialog-actions>