<h2 mat-dialog-title>Atualizar Cliente</h2>

<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="space-y-1">
  <mat-dialog-content>
    <!-- Cliente COMPUTEX -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Cliente computex</mat-label>
      <mat-select formControlName="customerComputex" required (selectionChange)="onCustomerComputexChange($event.value)">
        <mat-option value="S" selected>Sim</mat-option>
        <mat-option value="N">Não</mat-option>
      </mat-select>
      @if (customerComputexControl?.hasError('required')) {
        <mat-error>A confirmação se é um cliente computex é obrigatória.</mat-error>
      }
    </mat-form-field>

    <!-- Contrato -->
    @if (showContractField) {
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Número do contrato</mat-label>
        <input 
          matInput
          type="number"
          formControlName="numberContract"
          autocomplete="off"
          required
          mask="999"
          (blur)="onContractBlur()"
        />
        @if (numberContractControl?.hasError('required')) {
          <mat-error>O número do contrato é obrigatório.</mat-error>
        }
      </mat-form-field>
    }

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nome</mat-label>
      <input 
        matInput
        type="text"
        formControlName="name"
        required
      />
      <mat-error *ngIf="nameControl?.hasError('required') && nameControl?.touched">
        Nome é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        type="text"
        formControlName="email"
        required
        autocomplete="off"
      />
      @if(emailControl?.invalid && emailControl?.touched) {
        <mat-error>
          @if (emailControl?.hasError('required')) {
            E-mail é obrigatório.
          } @else if (emailControl?.hasError('email')) {
            E-mail inválido.
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>CNPJ</mat-label>
      <input
        matInput
        type="text"
        formControlName="cnpj"
        required
        mask="00.000.000/0000-00"
        placeholder="00.000.000/0000-00"
      />
      <mat-error *ngIf="cnpjControl?.invalid && cnpjControl?.touched">
        @if (cnpjControl?.hasError('required')) {
          CNPJ é obrigatório.
        } @else if (cnpjControl?.hasError('cnpjInvalid')) {
          CNPJ inválido.
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>URL de destino dos dados escaneados</mat-label>
      <input 
        matInput
        type="text"
        formControlName="urlToPost"
      />
      <mat-icon 
        matIconSuffix
        class="!cursor-pointer"
        matTooltip="Informe a URL fornecida pelo seu sistema para receber os dados automaticamente após o escaneamento do gabarito."
      >info</mat-icon>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Quantidade de dias que os gabaritos ficarão salvos</mat-label>
      <input 
        matInput 
        type="text"
        formControlName="imageActiveDays" 
        required
      >
      <mat-error *ngIf="imageActiveDaysControl?.invalid && imageActiveDaysControl?.touched">
        @if (imageActiveDaysControl?.hasError('required')) {
          A quantidade de dias é obrigatória.
        }
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="isSubmitButtonDisabled()">
      @if (isLoading()) {
        <mat-spinner diameter="24"></mat-spinner>
      }@else {
        Salvar
      }
    </button>
  </mat-dialog-actions>
</form>