<mat-card class="w-full max-w-md p-8 rounded-xl shadow-lg">
  <mat-card-header class="flex flex-col items-center mb-5 text-center">
    <h1 class="text-xl font-semibold mb-1">Gabaritos | ABCDE</h1>
    <h2 class="text-lg">Nova senha</h2>
  </mat-card-header>

  <mat-card-content class="p-6 md:p-8">
    <form [formGroup]="definePasswordForm" (ngSubmit)="onSubmit()" class="space-y-5">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nova senha</mat-label>
        <input 
          matInput 
          [type]="hideNewPassword() ? 'password' : 'text'"
          formControlName="newPassword" 
          placeholder="Informe a senha" 
          required
        >
        <button mat-icon-button type="button" matSuffix (click)="toggleNewPasswordVisibility()">
          <mat-icon>{{ hideNewPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if(newPasswordControl?.invalid && newPasswordControl?.touched) {
          <mat-error>
            @if (newPasswordControl?.hasError('required')) {
              Senha é obrigatória.            
            } @else if (newPasswordControl?.hasError('minlength')) {
              A senha deve ter no mínimo 6 caracteres.
            } @else if (newPasswordControl?.hasError('strong')) {
              A senha deve conter maiúscula, minúscula, número e caractere especial.
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Confirme a nova senha</mat-label>
        <input 
          matInput 
          [type]="hideConfirmNewPassword() ? 'password' : 'text'"
          formControlName="confirmNewPassword" 
          placeholder="Informe novamente a nova senha" 
          required
        >
        <button mat-icon-button type="button" matSuffix (click)="toggleConfirmNewPasswordVisibility()">
          <mat-icon>{{ hideConfirmNewPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if(confirmNewPasswordControl?.invalid && confirmNewPasswordControl?.touched) {
          <mat-error>
            @if (confirmNewPasswordControl?.hasError('required')) {
              A confirmação da senha é obrigatória.            
            } @else if (confirmNewPasswordControl?.hasError('passwordsNotMatching')) {
              As senhas não coincidem.
            }
          </mat-error>
        }
      </mat-form-field>

      <div class="flex items-center justify-center">
        <button mat-raised-button color="primary" class="!py-3 !text-base w-full" type="submit" [disabled]="isSubmitButtonDisabled()">
          @if (isLoading) {
            <mat-spinner diameter="24" class="mx-auto"></mat-spinner>
          } @else {
            <span>Entrar</span>
          }
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>