<h2 mat-dialog-title>Atualizar URL</h2>

<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="space-y-1">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>URL de destino dos dados escaneados</mat-label>
      <input 
        matInput
        type="text"
        formControlName="urlToPost"
      />
      <mat-icon 
        matIconSuffix
        class="!cursor-pointer"
        matTooltip="Informe a URL fornecida pelo seu sistema para receber os dados automaticamente após o escaneamento do gabarito."
      >info</mat-icon>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="isSubmitButtonDisabled()">
      @if (isLoading()) {
        <mat-spinner diameter="24"></mat-spinner>
      }@else {
        Salvar
      }
    </button>
  </mat-dialog-actions>
</form>