/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  border: 0;
}
html {
  // Define o tema claro como padrão.
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: (
      plain-family: 'Roboto',
      brand-family: 'Roboto',
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400
    ),
    density: 0
  ));
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}
body.dark-theme {
  color-scheme: dark;
}

// Snackbar de Sucesso (Verde)
.success-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #4CAF50, // token: container-color
    supporting-text-color: #ffffff, // token: supporting-text-color
    button-color: #ffffff // token: button-color
  ));
}

// Snackbar de Erro (Vermelho)
.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #F44336,
    supporting-text-color: #ffffff,
    button-color: #ffffff
  ));
}

// Snackbar de Aviso (Laranja)
.warning-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #FF9800,
    supporting-text-color: #ffffff,
    button-color: #ffffff
  ));
}

// src/styles.scss
.loading-dialog-panel .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent;
  box-shadow: none;
}