<mat-card class="w-full max-w-md p-8 rounded-xl shadow-lg">
  <mat-card-header class="!flex-col !items-center mb-6">
    <mat-card-title class="text-3xl font-bold mb-1">
      Acesse sua Conta
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="p-6 md:p-8">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-1">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>E-mail/CNPJ</mat-label>
         <input
          matInput
          type="text"
          formControlName="login"
          required 
          [mask]="getLoginMask()"
        />
        <mat-error *ngIf="loginControl?.invalid && loginControl?.touched">
          @if (loginControl?.hasError('required')) {
            E-mail/CNPJ obrigatório.
          } @else if (loginControl?.hasError('cnpjInvalid')) {
            CNPJ inválido
          } @else if (loginControl?.hasError('email')) {
            Formato de e-mail inválido.
          }
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Senha</mat-label>
        <input 
          matInput 
          [type]="hidePassword() ? 'password' : 'text'"
          formControlName="password" 
          placeholder="Sua senha" 
          required
        >
        <button mat-icon-button type="button" matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordControl?.invalid && passwordControl?.touched">
          @if (passwordControl?.hasError('required')) {
            Senha é obrigatória.            
          } @else if (passwordControl?.hasError('minlength')) {
            Senha deve ter no mínimo {{ passwordControl?.errors?.['minlength']?.requiredLength }} caracteres.
          }
        </mat-error>
      </mat-form-field>

      <div class="flex items-center justify-center">
        <button mat-raised-button color="primary" class="!py-3 !text-base w-full" type="submit" [disabled]="isSubmitButtonDisabled()">
          <span *ngIf="!isLoading">Entrar</span>
          <mat-spinner *ngIf="isLoading" diameter="24" class="mx-auto"></mat-spinner>
        </button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions class="!p-0 mt-1 justify-center">
    <p class="text-sm text-gray-600">
      Não tem uma conta?
      <a routerLink="/auth/register" class="ms-1 font-semibold text-indigo-600 hover:text-indigo-500">
        Cadastre-se aqui
      </a>
    </p>
  </mat-card-actions>
</mat-card>