<mat-card class="w-full max-w-md p-8 rounded-xl shadow-lg">
  <mat-card-header class="flex flex-col items-center mb-5 text-center">
    <h1 class="text-xl font-semibold mb-1">Gabaritos | ABCDE</h1>
    <h2 class="text-lg">Cadastrar empresa</h2>
  </mat-card-header>

  <mat-card-content class="p-6 md:p-8">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-1">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nome</mat-label>
        <input 
          matInput
          type="text"
          formControlName="name"
          required
        />
        @if(nameControl?.invalid && nameControl?.touched) {
          <mat-error>
            @if (nameControl?.hasError('required')) {
              Nome obrigatório.
            }
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>CNPJ</mat-label>
        <input
          matInput
          type="text"
          formControlName="cnpj"
          required
          mask="00.000.000/0000-00"
          placeholder="00.000.000/0000-00"
        />
        @if(cnpjControl?.invalid && cnpjControl?.touched) {
          <mat-error>
            @if (cnpjControl?.hasError('required')) {
              CNPJ obrigatório.
            } @else if (cnpjControl?.hasError('minlength')) {
              CNPJ deve ter no mínimo {{ cnpjControl?.errors?.['minlength']?.requiredLength }} caracteres.
            } @else if (cnpjControl?.hasError('cnpjInvalid')) {
              CNPJ inválido.
            }
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Senha</mat-label>
        <input 
          matInput 
          [type]="hidePassword() ? 'password' : 'text'"
          formControlName="password" 
          placeholder="Sua senha" 
          required
        >
        <button mat-icon-button type="button" matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (passwordControl?.invalid && passwordControl?.touched) {
          <mat-error>
            @if (passwordControl?.hasError('required')) {
              Senha é obrigatória.            
            } @else if (passwordControl?.hasError('minlength')) {
              Senha deve ter no mínimo {{ passwordControl?.errors?.['minlength']?.requiredLength }} caracteres.
            }
          </mat-error>
        }
      </mat-form-field>
      <div class="flex items-center justify-center">
        <button mat-raised-button color="primary" class="!py-3 !text-base w-full" type="submit" [disabled]="isSubmitButtonDisabled()">
          <span *ngIf="!isLoading">Cadastrar</span>
          <mat-spinner *ngIf="isLoading" diameter="24" class="mx-auto"></mat-spinner>
        </button>
      </div>
    </form>
  </mat-card-content>
  
  <mat-card-actions class="!p-0 mt-1 justify-center">
    <p class="text-sm text-gray-600">
      Já possui uma conta?
      <a routerLink="/auth/login" class="ms-1 font-semibold text-indigo-600 hover:text-indigo-500">
        Realize login
      </a>
    </p>
  </mat-card-actions>
</mat-card>