<h2 mat-dialog-title>Novo Lote</h2>

<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="type">
        <mat-option value="ABCDE">ABCDE</mat-option>
        <mat-option value="VTB">Vestibular</mat-option>
      </mat-select>
      @if (typeControl?.hasError("required") && typeControl?.touched) {
        <mat-error>Tipo é obrigatório</mat-error>
      }
    </mat-form-field>
    <!-- Campo de Nome -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nome</mat-label>
      <input 
        matInput
        type="text"
        formControlName="name"
        required
      />
      <mat-error *ngIf="nameControl?.hasError('required') && nameControl?.touched">
        Nome é obrigatório.
      </mat-error>
    </mat-form-field>
    
    <!-- Input de arquivo escondido -->
    <input 
      type="file" 
      class="hidden" 
      #inputFile 
      multiple
      accept="image/*"
      (change)="onFileSelected($event)">

    <!-- Botão customizado que aciona o input -->
    <button 
      matButton="filled"
      type="button" 
      class="w-full !py-6"
      (click)="inputFile.click()">
      <mat-icon>add_photo_alternate</mat-icon>
      <span>{{ buttonText() }}</span>
    </button>

    <!-- Lista para mostrar os arquivos selecionados (melhora a UX) -->
    <div *ngIf="imagesControl?.value as files">
      <mat-list dense *ngIf="hashedFiles.length > 0">
        <div mat-subheader class="flex justify-between items-center w-full">
          <span>Arquivos Selecionados:</span>

          <div class="flex items-center gap-1">
            <ng-container *ngIf="hasDuplicatedImages">
              <button mat-icon-button type="button" color="warn" matTooltip="Há imagem(ns) duplicada(s)!">
                <mat-icon class="text-red-700">info</mat-icon>
              </button>
            </ng-container>
            <button mat-icon-button type="button" color="warn" (click)="clearFileSelection()" matTooltip="Limpar seleção">
              <mat-icon class="text-red-700">delete_forever</mat-icon>
            </button>
          </div>
        </div>

        <mat-list-item *ngFor="let f of hashedFiles" [ngClass]="{ 'opacity-50': f.duplicated }">
          <mat-icon matListItemIcon color="{{ f.duplicated ? 'warn' : 'primary' }}">
            {{ f.duplicated ? 'error' : 'image' }}
          </mat-icon>
          <div matListItemTitle>{{ f.file.name }}</div>
          <div matListItemLine>
            {{ (f.file.size / 1024) | number:'1.0-2' }} KB
            <span *ngIf="f.duplicated" class="text-red-600 ml-2">(Duplicada)</span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button type="submit" matButton="filled" color="primary" [disabled]="isSubmitButtonDisabled()">
      @if (isLoading()) {
        <mat-spinner diameter="24"></mat-spinner>
      } @else {
        <span>Concluir</span>
      }
    </button>
  </mat-dialog-actions>
</form>